lint-staged.config.js
.eslintrc.js
scripts/serve.js

.yarn-packages
node_modules
**/build
**/lib
**/node_modules
**/mock_packages
**/static
**/typings
**/schemas
**/themes
coverage
*.map.js
*.bundle.js
docs/_build
app/extensions/

# jetbrains IDE stuff
.idea/

# ms IDE stuff
.history/
.vscode/

# JS templating
bootstrap.js
index.template.js
config-utils.js

# generated
**/_pypi.ts
