**/_output
**/lib
**/node_modules
**/package.json
**/static

.pytest_cache
.yarn-packages
app/lab/extensions/
build/
dist/
docs/_build
docs/api/ts
labextension/
node_modules

# JS templating
bootstrap.js
index.template.js
