**/_output
**/lib
**/node_modules
**/static

.ipynb_checkpoints/
.yarn-packages
build
docs/_build
node_modules
.pytest_cache
app/extensions/
.cache/

# JS templating
bootstrap.js
index.template.js

# generated
_pypi.ts
**/pypi/all.json
app/**/*.html
app/service-worker-*.js

# The changelog is updated by the releaser
CHANGELOG.md

# UI tests
ui-tests/ui-tests-app
