**/_output
**/lib
**/node_modules
**/static

.yarn-packages
build
docs/_build
node_modules
docs/api/ts
.pytest_cache
app/extensions/
.cache/

# JS templating
bootstrap.js
index.template.js

# generated
_pypi.ts
**/pypi/all.json
app/**/*.html

# The changelog is updated by the releaser
CHANGELOG.md

# UI tests
ui-tests/ui-tests-app
