# minimum needed to build jupyterlite... in addition to nodejs and yarn
# see .binder/ and docs/ for full development/docs environments
-r requirements-build.txt

black[jupyter]
isort
jsonschema >=3
nbconvert
nbstripout
pyflakes
