# minimum needed to test jupyterlite
# see .binder/ and docs/ for full development/docs environments
-r requirements-build.txt

ansi2html
diffoscope; sys_platform == 'linux'

# extras
jupyter_server >=1.11,<3
jupyterlab_server
libarchive-c; sys_platform == 'linux'
pytest-console-scripts >=1.4.0
pytest-cov >=7
pytest-html
pytest-xdist
