# minimum needed to build jupyterlite... in addition to nodejs
# see .binder/ and docs/ for full development/docs environments
doit >=0.34,<1
hatch >=1.6.3,<2
jupyter_core >=4.7
jupyterlab >=4.5.1,<4.6

# bootstrap packages
pkginfo
requests_cache
twine

# from twine
nh3 < 0.3 ; platform_python_implementation == 'PyPy'
