# minimum needed to build jupyterlite docs... in addition to nodejs and yarn
# see .binder/ and docs/ for full development/docs environments
-r requirements.txt
myst-nb
pydata-sphinx-theme
pytest-check-links
sphinx
