# minimum needed to build jupyterlite... in addition to nodejs
# see .binder/ and docs/ for full development/docs environments
-r requirements-build.txt
jsonschema >=3

jupyterlab >=4.6.0a0,<4.7
nbconvert
nbstripout
ruff==0.8.3
