# minimum needed to build jupyterlite... in addition to nodejs
# see .binder/ and docs/ for full development/docs environments
-r requirements-build.txt

black[jupyter]
ruff
jsonschema >=3
nbconvert
nbstripout
