# minimum needed to test jupyterlite
# see .binder/ and docs/ for full development/docs environments
-r requirements-build.txt

ansi2html
diffoscope; sys_platform == 'linux'
libarchive-c; sys_platform == 'linux'
pytest-console-scripts
pytest-cov
pytest-html
pytest-xdist

# extras
jupyter_server >=1.11,<3
jupyterlab_server
