jupyterlab-language-pack-fr-FR
jupyterlite-javascript-kernel==0.4.0a0
jupyterlite-p5-kernel==0.1.1
https://jupyterlite-pyodide-kernel--239.org.readthedocs.build/en/239/_static/jupyterlite_pyodide_kernel-0.7.0b0-py3-none-any.whl
notebook==7.5.0
theme-darcula==4.0.0
