**/.ipynb_checkpoints/*
**/node_modules/*
*/test/**
babel.config.*
index.template.html
index.template.js
jest-setup.js
jest.config.js
node_modules/
publicpath.js
publicpath.js.map
lab/build
notebook/build
repl/build
tsconfig.*
webpack.*.js
webpack.config.*
