name: Windows Dev

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

env:
  PYTHONUTF8: 1
  # Workaround for https://github.com/xz64/license-webpack-plugin/issues/111
  NO_WEBPACK_LICENSES: 1

jobs:
  win-dev:
    runs-on: windows-latest
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v6

      - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install Python dependencies
        run: python -m pip install --group build --group lint

      - name: Install JS dependencies
        run: jlpm install

      - name: Build
        run: jlpm build:prod

      - name: Pack app
        run: jlpm pack:app

      - name: Install (dev)
        run: jlpm install:py

      - name: Lint
        run: jlpm lint
